/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap');

.login-wrapper{
    width: 45%;
    margin: 0 auto;
    padding: 5%;
    border-top: 5px solid #2C6AE5;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-family: 'Nunito Sans', sans-serif;
    color: #616161;
}


@media only screen and (max-width: 992px) {
    .login-wrapper{
        width: 60%;
    }
}
@media only screen and (max-width: 768px) {
    .login-wrapper{
        width: 80%;
    }
}
@media only screen and (max-width: 576px) {
    .login-wrapper{
        width: 98%;
    }
}